@import "./base.css";

#app {
  width: 100%;
  padding: 2rem;
  margin: 100px 50px;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}

.classic-table {
  color: white;
}

.classic-table td {
  padding: 10px 10px 0px 10px;
  text-align: center;
  border-top: 1px solid hsla(160, 100%, 37%, 1);
  padding: 5px 20px;
}

.classic-table th {
  text-align: center;
  font-weight: 700;
  padding: 5px 20px;
}

.classic-table thead > tr {
  background-color: rgb(5, 5, 5);
}

.classic-table tr {
  padding-bottom: 10px;
  width: 100%;
  background-color: rgb(40, 40, 40);
  transition: all 0.2s ease-in-out;
}

.classic-table tbody > tr:nth-child(odd) {
  background-color: rgb(20, 20, 20);
}

.classic-table tbody > tr:hover {
  background-color: hsla(160, 100%, 37%, 1);
}

.d-flex {
  display: flex;
}

.justify-content-sb {
  justify-content: space-between;
}

h2 {
  margin-bottom: 20px;
}

.langSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  min-width: 110px;
}

.langSelector > select {
  height: 24px;
  width: 50px;
  padding: 0 5px;
  border-radius: 5px;
}

.searchCross {
  width: 12px;
  margin: 10px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(351deg) brightness(101%) contrast(101%);
  cursor: pointer;
}

.searchInput {
  display: block;
  width: 350px;
  margin: 20px 0px;
  padding: 10px 45px;
  background: white url("magnifying-glass-solid.svg") no-repeat 15px center;
  background-size: 15px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.searchPanel {
  display: flex;
  flex-direction: row;
}

.w-100 {
  min-width: 100%;
}
