@import "./base.css";

#app {
  width: 100%;
  padding: 2rem;
  margin: 100px 50px;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}

.classic-table {
  color: white;
}

.classic-table td {
  padding: 10px 10px 0px 10px;
  text-align: center;
  border-top: 1px solid hsla(160, 100%, 37%, 1);
  padding: 5px 20px;
}

.classic-table th {
  text-align: center;
  font-weight: 700;
  padding: 5px 20px;
}

.classic-table thead > tr {
  background-color: rgb(5, 5, 5);
}

.classic-table tr {
  padding-bottom: 10px;
  width: 100%;
  background-color: rgb(40, 40, 40);
  transition: all 0.2s ease-in-out;
}

.classic-table tbody > tr:nth-child(odd) {
  background-color: rgb(20, 20, 20);
}

.classic-table tbody > tr:hover {
  background-color: hsla(160, 100%, 37%, 1);
}

h2 {
  margin-bottom: 20px;
}
